@model Red_Social_Voluntarios.Models.Comunidad

<h2>Crear nueva publicación</h2>
<form method="post">
    <input type="text" name="Titulo" placeholder="Título" required />
    <textarea name="Contenido" placeholder="Contenido" required></textarea>
    <button type="submit" class="btn btn-success">Publicar</button>
</form>
