@{
    ViewData["Title"] = "Inicio";
}

<section class="hero-section">
    <div class="hero-content">
        <h1>Red Social Voluntariados</h1>
        <p>Conecta con tu causa</p>
        <div class="hero-buttons">
            <a class="btn btn-light-gray" asp-controller="Usuario" asp-action="Registro">Soy Voluntario</a>
            <a class="btn btn-dark" asp-controller="Usuario" asp-action="Registro">Soy Organización</a>
        </div>
    </div>
</section>

