@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<div class="auth-container">
    <h2>Crear nueva contraseña</h2>
    <form asp-action="CambiarPassword" method="post">
        <label>Nueva Contraseña</label>
        <input type="password" name="nueva" required />
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    @if (ViewBag.Mensaje != null)
    {
        <p style="margin-top:10px; color:green">@ViewBag.Mensaje</p>
    }
</div>
